p {
	font-family: 楷体;
	font-size: 20px;
}

.main>img {
	max-width: 100%;
	height: auto;
	width: 80%;
	/* margin-left: 00px; */
	margin-bottom: 30px;
}

.polaroid {
	width: 100%;
	background-color: white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin-bottom: 25px;
}

.container {
	text-align: center;
	padding: 10px 20px;
}
.dm1{
	width: 43%;
	/* float: left; */
	display: inline-block;
	margin-left: 20px;
	margin-right: 20px;
	border: 5px dotted;
	border-color: blueviolet;
}
.jin{
	width: 75%;
	margin-left: 165px;
}
.dm2{
	margin-bottom: 10px;
}
.dm3{
	width: 43%;
	float: left;
	margin-left: 20px;
	margin-right: 20px;
}