.di1 {
	margin-left: 300px;
	margin-right: 200px;
}

li {
	margin-bottom: 5px;
	margin-left: 25px;
}


a:hover {
	background-color: #CAE0F3;
	text-decoration: none;
}

a {
	color: aliceblue;
}

body {
	background-image: url(../img/xingkong.jpg);
	background-repeat: no-repeat;
	background-size: 135%;
}

#topImg {
	width: 100%;
	background: url(../img/daima.jpg) no-repeat;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
	margin: 0px;
}
