.bod{
	background-image:url(../image/test.jpg);
	background-size:100%;
	background-repeat:none;
}
h1{
	text-align:center;
	font-size:42px;
	font-family:Times New Roman;
}
input{
	color: #00FF00;
    font-size: 1.2em;
	border-color:#F57617;
	border-style: none;
	background-color: transparent;
}
.d1{
	margin-left: 100px;
}
td{
	text-align: center;
}
select{
	background-color: #F5F5DC;
    color: black;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
tr{
	width: 90%;
}
fieldset{
	margin-bottom: 20px;
}